.base-btn-wrapper{
  .btn-bg-wrapper{
    position: relative;
    width: 84PX;
    height: 84PX;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FFDFA9 0%, #FFA60F 100%);
    border: 4PX solid #FFFFFF;
    box-shadow: 0px 0PX 30PX #FD5F5E;
    .btn-bg{
      padding: 7PX;
      width: 70PX;
      height: 70PX;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(252, 255, 105, 0) 36.72%, #FFFFFF 100%);
      opacity: 0.6;
      filter: blur(3PX);
    }
    .btn-title{
      position: absolute;
      font-weight: 600;
      font-size: 26PX;
      line-height: 31PX;
      text-align: center;
      color: #E96E14;
    }
  }
  .circle{
    position: absolute;
    top: calc(50% - 51PX);
    left: calc(50% - 51PX);
    width: 102PX;
    height: 102PX;
    border-radius: 50%;
    opacity: 0.8;
    border: 2PX solid #FFD48D;
    &:nth-child(2){
      top: calc(50% - 64PX);
      left: calc(50% - 64PX);
      width: 128PX;
      height: 128PX;
      border-radius: 50%;
      opacity: 0.3;
    }
    &.animation{
      animation: circle-opacity 2s infinite;
    };
  }
}

@keyframes circle-opacity {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.3);
  }
}
